// Main Sass File
// Main Sass File
$test-color: #ffff00;
$tf-brown: #4d3319;
$tf-bg-brown: #ac7339;
$tf-green: #004d00;
$tf-bg-green: #e6ffe6;
$font-color: #F8F9F9;
$body-bg-color: #F7F9F9;
$black-font: #17202A;


//main body styling
.body{
  margin: 0;
  padding: 0;
}


//nav styling

.navbar{
  background-color: $tf-green;
  padding-top: 30px;
  min-height: 60px;
  border-bottom: $tf-brown 8px solid;
  padding-bottom: 10px;
}

.nav-link{
  color: $font-color;
}

#tf-brand-logo {
  color: $font-color;
}
// filler-container
.filler-container{
  min-height: 50px;

}
//personal info container
.pimg1{
  background-image: url(../photos/pexels-photo-459225.jpeg);
  height: 675px;
  position: relative;
  //opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.ptext{
  text-align: center;
  font-family: "Lato", sans-serif;
  letter-spacing: 8px;
  color: #000;
  width: 100%;
  top: 50%;
  font-size: 27px;
  position: absolute;
}

.ptext .border{
  background-color: #111;
  color: #fff;
  padding: 20px;
}

@media(max-width:568px){
  .ping1{
    background-attachment: scroll;
  }
}

// create tidd/ view feed card section
.tidds-container{
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: $tf-bg-green;
  border: $tf-brown 3px solid;
}

.create-tidd{
  background-image: url(../photos/tidderstockphoto4.jpg);
  height: 400px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: scroll;
  border: $tf-brown 8px solid;
  //opacity: 0.70;
}

.tidd-feed{
  background-image: url(../photos/tidderstockphoto2.jpg);
  height: 400px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  border: $tf-brown 8px solid;
  //opacity: 0.70;
}



.tidd-text {
  padding-top: 5px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: $black-font;
  font-size: 20px;
}

.footer-container{
  background-color: $tf-brown;
  height: 300px;
  border: 3px $black-font solid;
  color: $font-color;
  font-size: 20px;
  padding-top: 10px;
}
