body {
  background: #5D6D7E; }

.navbar {
  background: #5D4037;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #9CCC65 4px solid; }

.nav-link {
  color: #F8F9F9; }

#tf-brand-logo {
  color: #F8F9F9; }
